body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

span {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.logos {
    border-radius: 5px;
    padding: 10px;
}

.logos > * {
    height: 100%;
    margin-right: 10px;
}

.logos > * > img {
    height: 50px;
}

.fullName {
    font-size: 24px;
    width: 100%;
}

.phone {
    font-size: 18px;
    width: 100%;
}

.battletag {
    font-size: 17px;
    color: #82c5ff;
}

.code {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#abilities {
    width: 40%;
}

#abilities ul > li .ability-title {
    display: inline-block;
    width: 70%;
}

#abilities ul > li .ability-score {
    float: right;
}

#abilities ul > li .ability-score .glyphicon {
    color: #DFE0E0;
    font-size: 14px;
}

#abilities ul > li .ability-score .glyphicon.filled {
    color: #4617FD;
}